<p>Hello SJ admins</p>

<p>The link-checker has <%= @status %> the source_id <%= @source.id %> at <%= Time.now.in_time_zone %>.</p>
<p>For more info and options: <%= "#{ENV['MANAGER_HOST']}/#{Rails.env}/suppress_collections" %></p>