# Your encrypted credentials file should contain the following values
# bundle exec rails credentials:edit

development:
  API_HOST: "http://localhost:3000"
  API_MONGOID_HOSTS: "localhost:27017"
  MANAGER_HOST: "http://127.0.0.1:3001"
  HARVESTER_API_KEY: G45JQwXMQGVLmBzxv182
  HARVESTER_CACHING_ENABLED: true
  AIRBRAKE_API_KEY: "anc123"
  LINK_CHECKING_ENABLED: "true"
  LINKCHECKER_RECIPIENTS: "test@test.com"
  WORKER_KEY: 'WORKER_KEY'

test:
  API_HOST: "http://localhost:3000"
  API_MONGOID_HOSTS: "localhost:27017"
  MANAGER_HOST: "http://127.0.0.1:3001"
  HARVESTER_API_KEY: G45JQwXMQGVLmBzxv182
  HARVESTER_CACHING_ENABLED: false
  AIRBRAKE_API_KEY: "anc123"
  LINK_CHECKING_ENABLED: "true"
  LINKCHECKER_RECIPIENTS: "test@test.com"
  WORKER_KEY: 'WORKER_KEY'

staging:
  API_HOST: "http://localhost:3000"
  MANAGER_HOST: "http://127.0.0.1:3001"
  HARVESTER_API_KEY: G45JQwXMQGVLmBzxv182
  HARVESTER_CACHING_ENABLED: true
  AIRBRAKE_API_KEY: "anc123"
  LINKCHECKER_EMAIL: "linkchecker@harvester.org"
  LINK_CHECKING_ENABLED: "true"
  HOST: 'worker.harvester.org'
  SECRET_TOKEN: 'some long hash value'
  DEVISE_MAILER: "info@harvester.org"
  LINKCHECKER_RECIPIENTS: "bill@harvester.org"
  API_MONGOID_HOSTS: "localhost:27017"
  WORKER_KEY: 'WORKER_KEY'

# production:
#   API_HOST: "http://api.harvester.org"
#   MANAGER_HOST: "http://harvester.org"
#   MANAGER_API_KEY: "abc123"
#   HARVESTER_CACHING_ENABLED: true
#   AIRBRAKE_API_KEY: "anc123"
#   LINKCHECKER_EMAIL: "linkchecker@harvester.org"
#   LINK_CHECKING_ENABLED: "true"
#   SMTP_ADDRESS: "your SMTP address"
#   HOST: "worker.harvester.org"
#   SECRET_TOKEN: 'some long hash value'
#   DEVISE_MAILER: "info@harvester.org"
#   LINKCHECKER_RECIPIENTS: "bill@harvester.org"
#   API_MONGOID_HOSTS: "localhost:27017"
